.git
.github
worlds
players
changelogs
inspirations
vedrock
Vedrock
main/main
ops.txt
whitelist.txt
permissions.yml
player_permissions.yml
vedrock.yml
Dockerfile
docker-compose.yml
.dockerignore
STEPS.md
